---
title: GAOPI.dev
layout: base.njk
---
<div class="container">

        <h2>Where </h2>
        <p id="vibra">Gracias por visitar mi sitio...</p>
        <div class="love">💓</div>

</div>

<script src="saludo.js"></script>