---
title: GAOPI.dev
layout: base.njk
---
<div class="container">

        <h1>Welcome! I'm developer</h1>
        <p id="vibra">Gracias por visitar mi sitio...</p>
        <div class="love">💓</div>

    </div>

    <script src="/js/saludo.js"></script>